Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["my-web-app-bucket"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:  
  "/home/ec2-user/server.xml":
     mode: "000755"
     owner: tomcat
     group: tomcat
     source: https://s3-us-west-2.amazonaws.com/my-web-app-bucket/server.xml
     authentication: "S3Auth"

container_commands:
  replace-config: 
    command: cp /home/ec2-user/server.xml /etc/tomcat8/server.xml